[Unit]
Description=surveillance service

[Service]
Type=simple
User=il
ExecStart=/home/il/surveil/fm record fm_rec_cam 0
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
